<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="com.example.demo.vo.BoardVO">
		Insert into crud_table(title, nickname, password, content, createdate)
		values(#{title}, #{nickname}, #{password}, #{content}, now())
	</insert>
	
	<!-- 게시글리스트 출력 -->
	<select id="boardList" resultType="com.example.demo.vo.BoardVO" parameterType="int">
		select * from crud_table
		order by bid desc
		limit #{getObjStartNum}, #{getObjEndNum}
	</select>
	
	<!-- 게시글 -->
	<select id="fetchBoardByID" resultType="com.example.demo.vo.BoardVO" parameterType="int">
		select * from crud_table
		where bid = #{bid}
	</select>
	
	<!-- 게시글삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete from crud_table
		where bid = #{bid}
	</delete>
	
	<!-- 게시글정보수정 -->
	<update id="updateBoard" parameterType="com.example.demo.vo.BoardVO">
		update crud_table
		set title = #{title}, content = #{content}, createdate = now()
		where bid = #{bid}
	</update>
	
	<select id="count" resultType="int">
		select count(*) from crud_table
	</select>

</mapper>